/* ================  FOOTER ================= */

.footer {
	height: 82px;
	background: $footer;
}

.footer__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 82px;
	color: #FFFFFF;
}
