/* ================  NUMBERS ================= */

.numbers {
	margin-top: -150px;
	margin-bottom: 100px;
}

.numbers__list {
	height: 243px;
	background: $box;
	padding: 57px 188px 0;
	display: flex;
	justify-content: space-between;
}

.numbers__item {
	text-align: center;
}

.numbers__text-top {
	font-weight: 500;
	font-size: 72px;
	line-height: 111px;
	text-align: center;
	text-transform: uppercase;
	color: $accent;
}

.numbers__text-center {
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	text-transform: uppercase;
	color: $dark;
}

.numbers__text-bottom {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: $gray;
}
