/* ================  PARTNERS ================= */

.partners {
	width: 100vw;
	height: 364px;
	background-color: $footer;
	margin-bottom: 150px;
}

.partners__title {
	padding-top: 100px;
	padding-bottom: 49px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: $white;
	text-align: center;
}

.partners__portfolio {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
