/* ================  REQUEST ================= */

.request {
	height: 181px;
	background-color: $accent;
	margin-bottom: 150px;
}

.request_copy {
	height: 181px;
	background-color: $accent;

	margin-bottom: 100px;
}

.request__block {
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-items: baseline;
}

.request__text {
	grid-column: 1/2;
	align-items: center;
	text-align: center;
}

.request__text-big {
	font-weight: 700;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 0.02em;
	color: $white;
	text-transform: uppercase;
}

.request__text-small {
	font-weight: 700;
	font-size: 24px;
	line-height: 48px;
	letter-spacing: 0.02em;
	color: $white;
	text-transform: uppercase;
	text-align-last: left;
}

.request__btn {
	width: 175px;
	height: 49px;
	margin-top: 15px;
	background: $white;
	border: 0;
	outline: 0;
	grid-column: 2/3;
	align-self: center;
	justify-self: self-end;
	text-transform: uppercase;
	cursor: pointer;
}

.request__btn-text {
	position: relative;
	font-weight: 600;
	font-family: 'Oswald';
	font-size: 13px;
	line-height: 49px;
	letter-spacing: 0.055em;
	color: $dark;
	text-transform: uppercase;
	text-align: left;
	padding-left: 63px;

	&::before {
		content: "";
		display: block;
		width: 18px;
		height: 49px;
		background-image: url(@img/poste.svg);
		background-repeat: no-repeat;
		position: absolute;
		top: 17px;
		left: 30px;
		background-size: poster;
	}
}
