.services {
	margin-bottom: 150px;
}

.services__title {
	padding-bottom: 66px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: $dark;
	text-transform: uppercase;
	text-align: center;
}

.services__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	justify-items: stretch;
	align-items: stretch;
}

.services__item {
	width: 350px;
	height: 250px;
	background: #F7F7F7;
}

.services__link {
	display: block;
	padding: 59px 29px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.02em;
	color: $dark;
	text-decoration: none;
}

.services__text {
	padding-top: 30px;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.02em;
	color: $dark;
	text-transform: uppercase;
}
